.wrapper-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    min-width: 100%;
    background-color: #50d8d7;
background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);

}

.wrapper{
    width:600px;
    background: slateblue;
    color: #fff;
    border-radius: 20px;
    padding:40px 60px;
    height:auto;
}
.wrapper h1{
    font-size: 50px;
    text-align: center;
}
.wrapper h5{
    padding:10px;
    font-size: 30px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height:50px;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
}
.input-box input{
    width:100%;
    font-size: 16px;
    color: #fff;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 30px;
    outline: none;
    border:2px solid rgba(255,255,255,.2);
    padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:#fff;
}

.input-box .icon{
    position: absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px;
}
.remember-forgot input label{
    accent-color: #fff;
    margin-right: 4px;;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .submit{
    background-color: #fff;
    color:#333;
    border:0;
    outline:0;
    width:100%;
    height:45px;
    border-radius: 45px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.nav-bar{
    background-color: slateblue;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:1.5rem;
    padding:0.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    max-height: 90px;
}
.nav-bar h2{
    font-size: 1.5em;
}
.nav-bar a{
    color:inherit;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    padding:.15rem;
}
.nav-bar ul{
    padding: 1em;
    font-size: 1.8em;
    margin: 0;
    list-style: none;
    display: flex;
    gap:2rem;
}
.nav-bar li:hover{
    /* background-color: rgb(167, 7, 241); */
    align-items: stretch;
}
.nav-bar img{
    max-height: 90px;
}
.nav-bar p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px
}
.login-footer{
    background-color: slateblue;
    height:auto;
    font-size: 30px;
    padding:20px;
}
.fad{
    display: flex;
    justify-content: space-around;
}
.fad p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 200;
}

#err{
    font-family: "san-serif";
    color: white;
    text-align: center;
    margin-top: 2px;
    padding: 4px;
    background-color: red;
    border-radius: 28px;
}

.pcontainer{
    display: flex;
    justify-content: right;
    align-items: center; 
    min-height: 100vh;
    min-width: 100%;
    padding-right: 20%;
    
}
.pcontainer form{
    border: 0.5px solid black;
    border-radius: 10px; /* Adjust border radius as needed */
    background-color: rgba(255, 255, 255, 0.12); /* Adjust background color and opacity */
    backdrop-filter: blur(10px); /* Adjust blur intensity as needed */
    box-shadow: 0 8px 32px 0 rgba(4, 5, 24, 0.37);
    padding:10px;
}

.pcontainer .pinput_box{
    margin:10%;
    padding:3px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.pinput_box input{
    font-size: 24px;
    color: #333;
    margin-top:20px;
    border-radius: 10px;
    padding:8px;
    font-weight: 520;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    background: url('./pceert2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50% 100%; /* Set background size to 50% width and 100% height */
    background-position: left;
    /* background-color: slateblue; */
}
.i{
    background: url('./i.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50% 100%; /* Set background size to 50% width and 100% height */
    background-position: left;
}
.l{
    background: url('./li.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50% 100%; /* Set background size to 50% width and 100% height */
    background-position: left;
}
.v{
    background: url('./v.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50% 100%; /* Set background size to 50% width and 100% height */
    background-position: left;
}
.o{
    background: url('./owner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50% 100%; /* Set background size to 50% width and 100% height */
    background-position: left;
}
.vinput_box input{
    font-size: 30px;
    color: #333;
    margin-top:20px;
    border-radius: 15px;
    /* width: 300px; */
}
.pcontainer .vinput_box{
    margin:10px;
    padding:10px 100px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}
.o input[type="text"]{
    font-size: 27px;
    min-height:30px;
    width:400px;
    padding:5px

}
.v input[type="text"]{
    font-size: 27px;
    min-height:30px;
    width:300px;
    padding:5px

}
.p input[type="text"]{
    font-size: 27px;
    min-height:30px;
    width:400px;
    padding:5px

}
.l input[type="text"]{
    font-size: 27px;
    min-height:30px;
    width:250px;
    padding:5px

}
.i input[type="text"]{
    font-size: 27px;
    min-height:30px;
    width:300px;
    padding:5px

}
.u input[type="text"]{
    font-size: 27px;
    min-height:30px;
    width:300px;
    padding:5px

}
.u input[type="email"]{
    font-size: 27px;
    min-height:30px;
    width:300px;
    padding:5px

}
.u button{
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    background: blue;
    color:#fff;
    padding: 10px;
    display: flex;
    margin: auto;
}
.u{
    background: url('./u.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50% 100%; /* Set background size to 50% width and 100% height */
    background-position: left;
}
.police_bg{
    min-height: 100vh;
    margin: 0 auto;
    padding:0;
    font-size: 30px;
}
.police_bg h2{
    padding:30px;
}
.police_bg li{
    padding:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.police_reg{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.police_reg h2{
    font-size: 40px;
    text-align: center;
    align-items: center;
    padding:5px;
}
.police_reg input{
    margin:30px 60px;
    font-size: 40px;
    border-radius: 10px;
    width:400px;
    padding:10px
}
.police_reg input[type="text"]{
    font-size: 30px;
    color:#333
}
.police_reg form{
    padding:10px;
    border: 0.5px solid black;
    border-radius: 10px; /* Adjust border radius as needed */
    background-color: rgba(255, 255, 255, 0.3); /* Adjust background color and opacity */
    backdrop-filter: blur(10px); /* Adjust blur intensity as needed */
    box-shadow: 0 8px 32px 0 rgba(4, 5, 24, 0.37);
    padding:10px;
}
.police_reg form button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding: 20px;
    font-weight: 300px;
    font-size: 20px;
    background-color: blue;
    color: #fff;
    border-radius: 50px;
    border: 1px solid black;
}
.div{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    min-width: 100%;
    display: flex;
    background: slateblue;

}
.police_div{
    padding:10px;
    border: 0.5px solid black;
    border-radius: 10px; /* Adjust border radius as needed */
    background-color: rgba(255, 255, 255, 0.3); /* Adjust background color and opacity */
    backdrop-filter: blur(10px); /* Adjust blur intensity as needed */
    box-shadow: 0 8px 32px 0 rgba(4, 5, 24, 0.37);
    padding:10px;
    font-size: 40px;
   
}
.police_check{
    text-align: center;
}
.police_field{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.police_div button{
    border-radius: 50px;
    padding:5px;
    margin:10px;
    font-size: 27px;
    color: #fff;
    background-color: blue;
}
.complaint{
    border:2px solid black;
    margin:0 auto;
    min-height:100px;
    /* background: #30cfd0; */
    border-radius: 30px;
    margin:15px
}
.right_wrong{
    align-items: center;
    display: flex;
    float: right;
    margin-top: 30px;
    padding: 7.5px;
    justify-content: space-around;
}
.complaintt{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: full;
    justify-content: center;
    align-items: center;
}
.complaintt .complaintForm{
    border: 1px solid black;
    padding:20px;
    border-radius: 15px;
}

.complaintTitle{
    border:1px solid black;
    border-radius: 15px;
    padding:10px;
    align-items: center;
    text-align: center;
    width:900px;
    font-size: 30px;
}
.complaintTable{
    border: 1px solid black;
    width:900px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    padding: 20px;
    margin:0 auto;
    border-radius: 15px;
}
.complaintTable table{
    width:450px;
}
.complaintTable table thead{
    background: rgb(47, 159, 204);
    font-size: 25px;
    padding:5px;
    text-align: center;
}
.t1 tr:nth-child(odd){
    background-color: #D6EEEE;
}
.t2 tr:nth-child(even){
    background-color: #D6EEEE;
}
.complaintTable input,textarea,select{
    float: right;
    padding:10px;
}
.complaintTable textarea{
    height:100px;
    width:300px;
    font-size: 15px;
}
.complaintButton{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
    margin:10px;
   
}
.complaintButton button{
    background: blue;
    border-radius: 15px;
    padding:9px;
    font-size: 20px;
    color: #fff;
}
#succ{
    text-align: center;
    align-items: center;
    font-size: 25px;
    color:white;
    background: green;
    border-radius: 15px;
}
.complaint-item{
    display: flex;
    align-items: center;
    width: full;
    justify-content: space-between;
}
.complaint_details input[type="text"]{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    margin:1%;
}
.complaint_details input{
    border: transparent;
    width:200px
}
.complaint_details_button button{
    box-sizing: border-box;
    display: flex;
    background:blue;
    color:white;
    margin: 1%;
    border-radius: 15px;
    text-decoration: none;
    padding:10px;
    height:50px;
}
.complaint_details{
    position: relative;
}

.right-wrong{
    font-size: 2rem;
    position: absolute;
    top: 50px;
    right:20px;
}
.police_complaint{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    margin:0 auto;
    border: 1px solid black;
}
.police_complaint h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.police_complaint label{
    margin:10px;
    padding:10px;
}

.police_container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.form_wrapper{
    /* text-align: center; */
    margin: 20px auto;
    background-color: #330867;
    width: 80%;
    max-width: 700px;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    border-radius: 24px;
}
.form_wrapper h2{
    text-align: center;
    padding: 14px 0;
    color: #fff;
    font-family: sans-serif;
}
.form_group{
    font-family: sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.form_group label{
    padding: 0px 10px;
}
.form_group input{
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
}
.form_group textarea{
    margin-top: 10px;
    border-radius: 24px;
    min-height: 200px;
}

